<h1 class="animated fadeIn fast text-justify">Comit app</h1>
<hr>
<div class="card mb-3">
    <img [src]="img" class="card-img-top animated fadeIn">
    <div class="card-body animated fadeIn">
      <h5 class="card-title animated fadeIn">{{ title }}</h5>
      <p class="card-text animated fadeIn">{{ alt }}</p>
      <p class="card-text animated fadeIn"><small class="text-muted">Year of creation: {{ year }}</small></p>
    </div>
  </div>
  <div class="alert alert-danger text-justify animated fadeIn">Click to mark favorite</div>
 